$color-white: #ffffff;

$color-primary: #4460f7;
$color-primary-dark: #2140e8;

$color-grey-light-1: #f0f1f5;
$color-grey-light-2: #e0e2ea;
$color-grey: #b9bdcf;
$color-grey-dark-1: #9194a5;
$color-grey-dark-2: #1a1b1d;
