.searchbar {
  background: $color-white;
  border: 1px solid $color-grey-light-2;
  border-radius: 0.8rem;

  display: flex;
  height: 4.8rem;
  margin: 0 1.1rem;
  max-width: 40rem;
  justify-content: space-between;
  flex-grow: 1;

  @include respond(tab-port) {
    order: 1;
    margin-left: 0;
  }

  @include respond(phone-land) {
    min-width: 30rem;
  }

  @include respond(phone-port) {
    margin-bottom: 2.4rem;
    margin-right: 0;
    max-width: 60rem;
    min-width: max-content;
  }

  &__input {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    border: none;
    border-radius: inherit;
    color: $color-grey-dark-2;
    height: 100%;
    padding: 4%;
    position: relative;
    width: 90%;

    &:active,
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-dark-2;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.6rem;
      position: absolute;
      left: 4.5%;
      top: calc(50% - 16px / 2);
    }
  }

  &__icon {
    color: $color-grey-dark-2;
    margin-right: 1.5rem;
    width: 1.75rem;
  }
}
