.searchbar {
  background: $color-white;
  border: 1px solid $color-grey-light-2;
  border-radius: 0.8rem;
  display: flex;
  flex-grow: 1;
  height: 4.8rem;
  justify-content: space-between;
  margin: 0 1.5rem;
  max-width: 40rem;

  @include respond(tab-port) {
    margin-left: 0;
    min-width: max-content;
    order: 1;
  }

  @include respond(phone) {
    margin-bottom: 2.4rem;
    margin-right: 0;
    max-width: 60rem;
    min-width: max-content;
  }

  &__input {
    border: none;
    border-radius: inherit;
    color: $color-grey-dark-2;
    font: inherit;
    height: 100%;
    padding: 4%;
    position: relative;
    width: 90%;

    &:active,
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-dark-2;
      font: inherit;
      position: absolute;
      left: 4.5%;
      top: calc(50% - 16px / 2);
    }
  }

  &__icon {
    color: $color-grey-dark-2;
    margin-right: 1.5rem;
    width: 1.75rem;
  }
}
