.header {
  align-items: center;
  background-color: $color-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 14.4rem;
  min-width: 2.8rem;
  max-height: 24.8rem;
  padding: 0 10rem;

  @include respond(tab-land) {
    padding: 0 5rem;
    justify-content: space-between;
  }

  @include respond(tab-port) {
    padding: 5rem 5rem 3.2rem;
  }

  @include respond(phone-land) {
    padding: 5rem 5rem 3.2rem;
  }

  @include respond(phone-port) {
    padding: 5rem 2.4rem 3.2rem;
  }

  & h1 {
    font-size: 2.4rem;
    line-height: 4rem;
    margin-right: auto;
    padding-right: 1.1rem;

    @include respond(tab-port) {
      flex-basis: 70%;
      margin-bottom: 2.8rem;
    }

    @include respond(phone-land) {
      flex-basis: 50%;
      margin-bottom: 2.8rem;
    }
  }
}

.login-link {
  margin-left: auto;
  padding-left: 1.1rem;

  @include respond(tab-port) {
    margin-bottom: 2.8rem;
  }
}
