.checkbox {
  &__wrapper {
    margin: 0 1.1rem;
    max-width: 40rem;
    flex-grow: 1;

    @include respond(tab-port) {
      order: 1;
      margin-right: 0;
    }

    @include respond(phone-port) {
      margin-left: 0;
    }

    @include respond(phone-port) {
      width: 100%;
    }
  }
}
