.main-content {
  background-color: #f8f8fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5.6rem 10rem;

  & > * {
    width: 23%;

    @include respond(tab-land) {
      width: 30%;
    }

    @include respond(tab-port) {
      width: 45%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  @include respond(tab-land) {
    padding: 5.6rem 5rem;
  }

  @include respond(tab-port) {
    justify-content: space-around;
  }

  @include respond(phone) {
    padding: 2.4rem 2.4rem;
    justify-content: center;
  }
}
