.MuiButton-root.btn {
  border-radius: 0.4rem;
  font: inherit;

  height: 3.8rem;
  text-transform: initial;

  &--outlined {
    background-color: $color-white;
    border: 1px solid $color-primary;
    color: $color-primary;
    width: 8.8rem;

    &:hover {
      background-color: $color-white;
      border: 1px solid $color-primary-dark;
      color: $color-primary-dark;
    }
  }

  &--contained {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;
    width: 100%;

    &:hover {
      background-color: $color-primary-dark;
      border: 1px solid $color-primary-dark;
      color: $color-white;
    }
  }

  &--disabled {
    background-color: $color-grey-dark-1;
    border: 1px solid $color-grey-dark-1;
    color: $color-white;
    width: 100%;

    &:hover {
      background-color: $color-grey-dark-1;
      border: 1px solid $color-grey-dark-1;
      color: $color-white;
      cursor: initial;
    }

    &:active {
      transition: none;
    }
  }
}
