.pagination {
  background-color: $color-grey-light-3;
  display: flex;
  justify-content: center;
  padding: 3.2rem 0 5.6rem;

  &__items {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    & > * {
      padding: 0.8rem;

      &:first-child {
        padding-right: 1.6rem;
        & button {
          text-transform: capitalize;
        }
      }

      &:last-child {
        padding-left: 1.6rem;
        & button {
          text-transform: capitalize;
        }
      }
    }

    & button {
      background-color: transparent;
      border: none;
    }
  }
}
